[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.4"
pillow = "*"
django-cors-headers = "*"
django-filter = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = {extras = ["validation"], version = "*"}
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.9"
