html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p { 
  text-indent: 25px;
  text-align: justify;
  margin-top: 0;
}

body {
  font-family: 'font', sans-serif;
}

ol {
  text-align: justify;
  margin-top: 0;
}

ul {
  text-align: justify;
  margin-top: 0;
}