<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Политика конфиденциальности</title>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="stylesheet" href="../../../static/css/privacy_policy/privay_pokicy.css">
</head>

<body>
    <div class="privacy_policy_container">
        <h1 class="privacy_policy_text_h1">
            Политика конфиденциальности для мобильного приложения
        </h1>

        <p class="privacy_policy_text">
            Настоящая Политика конфиденциальности для мобильного приложения (далее — Политика) действует в
            отношении той информации, которую АНО «Скорей Добрей» (далее – Организация) может получить
            с устройства пользователя во время использования им мобильного приложения для доступа к приложению
            «B67» (далее – Приложение). Использование Приложения означает безоговорочное согласие пользователя
            с настоящей Политикой и указанными в ней условиями обработки информации, получаемой с устройства
            пользователя.
        </p>

        <p class="privacy_policy_text">
            В случае несогласия с Политикой пользователь должен воздержаться от использования Приложения.
            Приложение и услуги в рамках Приложения позволяют пользователю осуществлять взаимодействие
            с Организацией на основании заключенных договоров и соглашений с Организацией,
            которые в числе прочего регулируют все вопросы обработки и хранения Организацией
            персональных данных пользователя.
        </p>

        <p class="privacy_policy_text">
            Настоящая Политика применима только к Приложению. Организация не контролирует и не
            несет ответственность за информацию (последствия её передачи), переданную пользователем
            третьей стороне, в случае если такая передача была выполнена на ресурсе третьей стороны,
            на который пользователь мог перейти по ссылкам из Приложения.
        </p>

        <p class="privacy_policy_text">
            Компания имеет право вносить изменения в настоящую Политику путем размещения новой редакции
            Политики на сайте Организации и/или в Приложении. Обязанность самостоятельного ознакомления
            с актуальной редакцией Политики лежит на пользователе.
        </p>

        <ol class="privacy_policy_container_list">
            <li class="privacy_policy_list">
                Состав информации, которая может быть получена с устройства пользователя при использовании Приложения
                и цели её получения (далее - Информация пользователя):
            </li>

            <ul class="privacy_policy_container_nested_list">
                <li class="privacy_policy_nested_list">
                    Информация о номерах телефонов из адресной книги устройства используется в Приложении для
                    облегчения совершения пользователями операций переводов денежных средств, а также оплаты
                    услуг по номеру телефона (мобильная связь, электронные кошельки и др.).
                </li>

                <li class="privacy_policy_nested_list">
                    Информация о местоположении устройства пользователя (на основе данных сети оператора сотовой
                    связи и сигналов GPS) используется для информирования о дополнительных сервисах, доступных
                    пользователю и обусловленных его местоположением.
                </li>

                <li class="privacy_policy_nested_list">
                    Фотоизображения, полученные с использованием камеры устройства, а также хранимые
                    в памяти устройства, используются в рамках услуг, реализуемых в Приложении, в том числе
                    для передачи фотоизображений через чат, а также использования в качестве подтверждающих
                    документов для совершения операций.
                </li>

                <li class="privacy_policy_nested_list">
                    Информация о мобильном устройстве, такая как модель мобильного устройства, версия
                    операционной системы, уникальные идентификаторы устройства, а также данные о мобильной
                    сети и номер мобильного телефона, используются для анализа возможных ошибок в работе
                    Приложения и совершенствование работы Приложения.
                </li>

                <li class="privacy_policy_nested_list">
                    Информация о совершаемых операциях, такая как место, время и сумма совершенных
                    операций, тип способа оплаты, данные о продавце и/или поставщике услуг, а также иная
                    информация, связанная с совершением указанных выше операций, используется в рамках сервисов,
                    реализуемых в Приложении, в том числе для улучшения предоставляемых Компанией пользователю
                    предложений.
                </li>
            </ul>

            <p class="privacy_policy_text">
                Дополнительно в приложениях установлены системы веб аналитики Яндекс Метрика,
                Google Analytics и PIWIK, которые используют обезличенные данные пользователя с
                целью улучшения работы Приложения.
            </p>

            <li class="privacy_policy_nested_list">
                Условия обработки Информации пользователя:
            </li>

            <ul class="privacy_policy_container_nested_list">

                <li class="privacy_policy_nested_list">
                    В соответствии с настоящей Политикой Организация осуществляет обработку только той
                    информации и только для тех целей, которые определены в пункте 1.
                </li>

                <li class="privacy_policy_nested_list">
                    Организация принимает все зависящие от нее организационные и технические меры
                    для защиты Информации пользователя от неправомерного доступа третьих лиц, использования,
                    копирования и распространения.
                </li>

                <li class="privacy_policy_nested_list">
                    Для целей, изложенных в настоящей Политике, Организация может привлекать к
                    обработке Информации пользователя партнеров, с которыми у Организации заключены
                    соответствующие соглашения о конфиденциальности. Передача Организацией партнерам
                    обезличенных данных об использовании Приложения для целей улучшения работы Приложения
                    осуществляется на основании договоров с партнерами.
                </li>

                <li class="privacy_policy_nested_list">
                    Информация пользователя может сохраняться на ресурсах Организации и его партнеров
                    в течение срока действия договорных отношений между Организацией и пользователем касаемо
                    Приложения, а также в течение 5 лет после расторжения таких договоров.
                </li>

                <li class="privacy_policy_nested_list">
                    Информация Пользователя может быть предоставлена государственным органам в соответствии
                    с требованиями действующего законодательства.
                </li>
            </ul>
        </ol>
</body>

</html>