<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="yandex-verification" content="39db24ee071ca394" />
    {% block head %}
    <link type="text/css" href="../../../static/frontend/css/base_pattern/normalize.css" rel="stylesheet" />
    <link type="text/css" href="../../../static/frontend/css/base_pattern/styles.css" rel="stylesheet" />
    {% endblock head %}
</head>

<body>
    <div class="container_block_menu">
        {% block menu %}
            <a class="index_link_logo" href="{% url 'hurry_up_be_kind:index' %}">
                <img class="index_logo" src="../../../static/frontend/images/big_logo.png" alt="Логотип приложения">
            </a>

        <div class="container_menu">
                <p class="phone_menu">+7 495 123-34-45</p>
                {% for i_menu in menu %}
                        <a class="index_menu" href="{% url i_menu.url_name %}">{{i_menu.title}}</a>
                {% endfor %}
        </div>
        {% endblock menu %}
    </div>

    <div class="container_block_content">
        {% block content %}
        {% endblock content%}
    </div>

    <div class="container_forms">
        {% block forms %}
        {% endblock forms%}
    </div>

    <div class="container_address">
        {% block container_address %}
        <div class="container_inf_fond">
            <p class="inf_fond">
                МЕСТОРАСПОЛОЖЕНИЕ       
            </p>
            <p class="inf_fond1">
                ГДЕ МЫ НАХОДИМСЯ      
            </p>
            <p class="inf_fond_address">
                Россия, г. Сочи<br> ул. Дмитриевой, 13, корп. 1      
            </p>
        
            <img class="img_fond_address" src="../../../static/frontend/images/partners/location_icon.png" alt="Картинка локации">
        </div>
        {% endblock container_address%}
    </div>


    <div class="container_contacts">
        {% block contacts %}
            <div class="contacts">
                <p class="p_contacts">
                    Остались вопросы?<br> 
                    Тогда свяжитесь с нами!       
                </p>
                <p class="p_contacts1">
                Не стесняйтесь обращаться к нам, если у вас есть какие-либо вопросы,<br>
                предложения или идеи для сотрудничества.   
                </p>
                <div class="contacts_fond">      
                    <p class="p_contacts_telegram_phone">
                        @Olga_b67russia  
                    </p>
                    <p class="p_contacts_text">
                        Написать в Telegram 
                    </p>
                    <p class="p_contacts_telegram_phone">
                        +7 (965) 479-09-46
                    </p>
                    <p class="p_contacts_text">
                        Позвонить
                    </p>
                </div>
                <img class="img_contacts" src="../../../static/frontend/images/partners/logo_telegram.png" alt="Картинка Telegram">
                <img class="img_contacts1" src="../../../static/frontend/images/partners/logo_phone.png" alt="Картинка звонка">
            </div>
        {% endblock contacts%}
    </div>

    <div class="container_footer">
        {% block footer %}
            <a class="img_footer" href="#">
                <img class="index_logo" src="../../../static/frontend/images/big_logo.png" alt="Логотип приложения">
            </a>
            <div class="container_link_footer">
                <a class="link_footer" href="#">Часто задаваемые вопросы</a>
                <a class="link_footer" href="#">Документы и соглашения</a>
                <a class="link_footer" href="#">Команда</a>
            </div>

            <div class="inf_text_footer">
                <p class="text_footer">Скачивайте наше приложение<br> и совершайте добро в любое удобное время</p>
                <a class="link_application_footer" href="#">Ссылка на приложение</a>
            </div>
        {% endblock footer%}
    </div>


</body>

</html>