<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О себе</title>
</head>
<body>
    <h1>Данные пользователя</h1>

    {% if dict_response %}
    <p>Аватар:</p>
        {% if  dict_response.avatar_user %}
            <img src="{{dict_response.avatar_user}}" alt="Аватар пользователя" width="200" height="200">
        {% else %}
            <img src="../../../static/frontend/images/avatar/Avatar.png" alt="Аватар пользователя по умолчанию" width="200" height="200">
        {% endif %}

        <form method="post" action="{% url 'hurry_up_be_kind:changing_data' %}">
            {% csrf_token %}
            <fieldset>
                <p>Фамилия: <input name=last_name size="30" type="text" value="{{dict_response.last_name}}"></p>
                <p>Имя: <input name=first_name size="30" type="text" value="{{dict_response.first_name}}"></p>
                <p>Отчество: <input name=patronymic size="30" type="text" value="{{dict_response.patronymic}}"></p>
                <p>Номер телефона: <input name=phone size="30" type="text" value="{{dict_response.phone}}"></p>
                <p>Электронная почта: <input name=email size="30" type="text" value="{{dict_response.email}}"></p>
                <p>Адрес: <input name=address_ward size="30" type="text" value="{{dict_response.address_ward}}"></p>
                <p>Обо мне: <input name=about_me size="30" type="text" value="{{dict_response.about_me}}"></p>
            </fieldset>
            <br>
            <button type="submit">Изменить данные</button>
        </form>

        <p>Статус: {{dict_response.status}}</p>
        {% if dict_response.size_donations %}
            <p>Сумма донатов: {{dict_response.size_donations}} </p>
        {% endif %}

        {% for files in dict_response.link_user_files %}
            <p>
                Файлы пользователя:
                <a class="index_link_file" href="{{files}}" download="">
                    {{files}}
                </a>
            </p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'hurry_up_be_kind:index' %}" method="get" >
        <button type="submit">На главную</button>
    </form>

    <form action="{% url 'hurry_up_be_kind:registration_confectionary' %}" method="get" >
        <button type="submit">Регистрация кондитерской</button>
    </form>

</body>
</html>