{% extends 'frontend/base.html' %}

{% block content %}
    <h1>Ваш заказ:</h1>
{% endblock content%}

{% block forms %}
    {% if dict_response %}
        {%for order in dict_response%}
            <p>Товар: {{order.product_id.name_dish}}</p>
            <p>Цена: {{order.product_id.price_dish}} руб.</p>
            <p>Количество: {{order.count_menu}}</p>
            <p>Благотворитель: {{order.user_philantropist_id.usermane}}</p>
            <p>Заказ сформирован для: {{order.user_ward_id.usermane}}</p>
            <p>Заказ будет выполнять кондитерская: '{{order.confectionary_id.usermane}}', расположенная
                по адресу: {{order.confectionary_id.address_ward}}</p>
            <p>Общая стоимость заказа: {{order.price_order}}</p>

            <form class="form" method="POST" action="{% url 'hurry_up_be_kind:execute_an_order' %}">
                {% csrf_token %}
                <input type="hidden"  name="order_id" value={{order.id}}>
                <button class="button" type="submit">Подтвердить выполнение заказа</button>
            </form>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock forms%}
