{% extends 'frontend/base.html' %}

{% block content %}
    <h1>Ваш заказ:</h1>
{% endblock content%}

{% block forms %}
    {% if dict_response %}
        {%for order in dict_response%}
            <p>Товар: {{order.product_id.name_dish}}</p>
            <p>Цена: {{order.product_id.price_dish}} руб.</p>
            <p>Количество: {{order.count_menu}}</p>

            {% if order.user_philantropist_id %}
                <p>Благотворитель: {{order.user_philantropist_id.last_name}} {{order.user_philantropist_id.first_name}}</p>

            {%else%}
                <p>Благотворитель скоро будет найден.</p>
            {%endif%}


            {% if order.user_ward_id %}
                <p>Заказ сформирован для: {{order.user_ward_id.last_name}} {{order.user_ward_id.first_name}}</p>

            {%else%}
                <form class="form" method="POST" action="{% url 'hurry_up_be_kind:all_ward' %}">
                    {% csrf_token %}
                    <p>Необходимо добавить подопечного:
                    <button class="button" type="submit" name="order_id" value={{order.id}}>Добавить подопечного</button>
                    </p>
                </form>
            {%endif%}

            {% if order.confectionary_id %}
                <p>Заказ будет выполнять кондитерская: '{{order.confectionary_id.confectionary_name}}', расположенная
                    по адресу: {{order.confectionary_id.address_ward}}</p>

            {%else%}
                <form class="form" method="POST" action="{% url 'hurry_up_be_kind:all_confectionary' %}">
                    {% csrf_token %}
                    <p>Необходимо добавить кондитерскую:
                    <button class="button" type="submit" name="order_id" value={{order.id}}>Добавить кондитерскую</button>
                    </p>
                </form>
            {%endif%}
            <p>Общая стоимость заказа: {{order.price_order}}</p>

            {% if order.order_status in 'formed' %}
                <form class="form" method="POST" action="{% url 'hurry_up_be_kind:payment' %}">
                    {% csrf_token %}
                    <p>Заказ сформирован:
                        <input type="hidden"  name="order_id" value={{order.id}}>
                    <button class="button" type="submit">Оплатить</button>
                    </p>
                </form>
            {% elif order.order_status in 'paid_for' %}
                <h2>Заказ оплачен</h2>
            {% endif %}
            <hr>
        {% endfor %}
    {% else %}
        <h2>Заказов нет</h2>
    {% endif %}
{% endblock forms%}
